{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load media_filters %}

{% block title %}{% trans "Our Brands" %} | العلندا{% endblock %}

{% block extra_head %}
<link rel="preload" href="{{'/media/brands/products.webp'|webp_or_original }}" as="image" fetchpriority="high">
{% endblock %}

{% block content %}
<!-- Brands Page Header -->
<div class="w-100 position-relative text-center mb-5" style="padding:0; overflow-x:hidden;">
  <img src="{{ '/media/brands/products.webp'|webp_or_original }}" alt="About Al Alanda Heading" class="img-fluid w-100" fetchpriority="high" decoding="async" style="max-width:100vw;height:auto;object-fit:cover; ">
  
</div>

<!-- Brands Section -->
<div class="container py-4 mb-5">
  <div class="row">
    <!-- First Brand: Shahr zad -->
    <div class="col-lg-6 mb-5">
      <div class="card border-0 shadow-sm h-100">
        <div class="card-body p-4">
          <div class="row align-items-center">
            <div class="col-md-5 text-center mb-4 mb-md-0">
              <img src="{{ '/media/brands/Shahrazad.png'|webp_or_original }}" alt="Shahr zad" class="img-fluid brand-image" width="130" loading="lazy" decoding="async" style="width: 130px; height: auto;">
            </div>
            <div class="col-md-7">
              <p class="card-text mb-4">{% trans "Shahrazad products are the perfect choice for those seeking quality at an affordable price." %}</p>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Second Brand: Al Alanda -->
    <div class="col-lg-6 mb-5">
      <div class="card border-0 shadow-sm h-100">
        <div class="card-body p-4">
          <div class="row align-items-center">
            <div class="col-md-5 text-center mb-4 mb-md-0">
              <img src="{{ '/media/brands/alalanda.png'|webp_or_original }}" alt="Al Alanda" class="img-fluid brand-image" width="120" loading="lazy" decoding="async" style="width:120px">
            </div>
            <div class="col-md-7">
              <p class="card-text mb-4">{% trans "Al Alanda products are the top choice for anyone seeking high quality and perfect taste." %}</p>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block extra_js %}
<script>
  // No additional JavaScript needed for this page
</script>
{% endblock %}

